@model IEnumerable<Groupe3GestionEnseignant.Models.ENTITE.Saisir>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCahierTexte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEnseignant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCahierTexte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEnseignant)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Jour">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Jour">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Jour">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
