@model Groupe3GestionEnseignant.Models.ENTITE.Cour

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEnseignant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEnseignant)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCour">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
